In [ ]:
# Pandas DataFrame - Practice Exercises

In [ ]:
# # Make a Pandas DataFrame with two-dimensional list | Python
# Pandas DataFrame with Two-dimensional List
# There are several methods for creating a Pandas DataFrame with the two-dimensional list. In this context, we will explain some commonly used approaches.

# Using pd.DataFrame()
# Using pd.DataFrame.from_records()
# Using pd.DataFrame.from_dict()
# Using Specifying Data Types

In [2]:
import pandas as pd

In [14]:
list = [["aa", 11], ["bb",  22], ["cc", 33]]
# Using pd.DataFrame()
# Use it when: You have standard Python data structures (like dicts or lists) 
# and want full control over how theyâ€™re converted to a DataFrame.
df1 = pd.DataFrame(list)
display(df1)
coln = ["name", "id"]
df2 = pd.DataFrame(list, columns=coln)
display(df2)

    0   1
0  aa  11
1  bb  22
2  cc  33

  name  id
0   aa  11
1   bb  22
2   cc  33

In [12]:
# Using pd.DataFrame.from_records()
coln = ["name", "id"]
df3 = pd.DataFrame.from_records(list, columns=coln)
display(df3)

  name  id
0   aa  11
1   bb  22
2   cc  33